<!-- <div class="app-wrapper-footer" style="position: fixed;
bottom: 0;
width:100%;
left: 0;">
    <div class="app-footer">
        <div class="app-footer__inner text-center">
            <div class="app-footer-right" style="padding-left: 265px;">
                <ul class="nav text-center">

                    <li class="nav-item">
                        <footer class="page-footer text-white">
                            <p class="mb-0">Copyright © 2024. All right reserved.</p>
                        </footer>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div> -->


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />
<!-- DataTables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
<!-- DataTables Buttons JS -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/custom.js"></script>

</body>

</html>