<%- include("../shared/header"); %>

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <!-- <div class="page-title-icon">
                <a href="./index.html">
                    <i class=" fa fa-home icon-gradient bg-mean-fruit">
                    </i>
                </a>
            </div> -->
                <div>
                    <b> Dashboard</b>
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="row">
    <div class="col-3">
        <div class="card-css">
            <div class="MuiBox-root css-1hqeloq">
                <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-9a3hft">
                        <p class="MuiTypography-root MuiTypography-body1 css-1640a91">PROGRAM
                            DURATION
                        </p>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                        <div class="MuiGrid-root MuiGrid-container css-v3z1wi">
                            <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                                <p class="MuiTypography-root MuiTypography-body1 css-tg80y7">500.00
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card-csss">
            <div class="MuiBox-root css-1hqeloq">
                <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-9a3hft">
                        <p class="MuiTypography-root MuiTypography-body1 css-1640a91">LOYALTY
                            BILLING
                        </p>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                        <div class="MuiGrid-root MuiGrid-container css-v3z1wi">
                            <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                                <p class="MuiTypography-root MuiTypography-body1 css-tg80y7">500.00
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div
            class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root css-ipps8o">
            <div class="MuiBox-root css-1hqeloq">
                <div class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                    <div class="MuiGrid-root MuiGrid-item css-9a3hft">
                        <p class="MuiTypography-root MuiTypography-body1 css-1640a91">EARNED POINTS
                        </p>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                        <div class="MuiGrid-root MuiGrid-container css-v3z1wi">
                            <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                                <p class="MuiTypography-root MuiTypography-body1 css-tg80y7">500.00
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div
            class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root css-1szkylq">
            <div class="MuiBox-root css-19midj6">
                <div class="MuiBox-root css-1hqeloq">
                    <div
                        class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column css-1wkwmmc">
                        <div class="MuiGrid-root MuiGrid-item css-9a3hft">
                            <p class="MuiTypography-root MuiTypography-body1 css-1640a91">
                                REDEEMED POINTS
                            </p>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                            <div class="MuiGrid-root MuiGrid-container css-v3z1wi">
                                <div class="MuiGrid-root MuiGrid-item css-1wxaqej">
                                    <p class="MuiTypography-root MuiTypography-body1 css-tg80y7">
                                        500.00
                                    </p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

    <%- include("../shared/footer"); %>